Package: asio
Version: 1.32.0
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 6d7f9772111ba41a33ce1343d8107fbca0601c4dee879b8c350b847b8411a127
Description: Asio is a cross-platform C++ library for network and low-level I/O programming that provides developers with a consistent asynchronous model using a modern C++ approach.
