Package: nlohmann-json
Version: 3.11.3
Port-Version: 1
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 14626cc1719df006f2289ae13820531868ba3a42a1cf8f197760c4f4479fa2ca
Description: JSON for Modern C++
